.banner {
    position: relative;
    width: 1920px;
    height: 409px; /* Adjust as needed */
    background-image: url('../../../../public/banner1.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
  }